<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
        <form method="get"><div class="login">
  		<h1>Log in</h1> 
  		<input type="text" name="Name" value="" placeholder="Name">
    			
		<input type="text" name="password" value="" placeholder="password">
 
  <input type="submit" value="Submit">
</div>
<div class="shadow"></div>
</form> 
  </body>
</html>
