<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3><p>Please enter the username password</p></h3>
     <form>Name:<br>
  <input type="text" name="Name">
  <br>
  Password:<br>
  <input type="password" name="password">
</form> 
  </body>
</html>
