<form id="searchForm" action="search" method="post">
<h1><%= title %></h1>
<input type="text" name="keyword" value="" placeholder="Enter the keyword">
<input type="date" name="from_date">
<input type="submit" value="Submit"></input>
</form>

